body {
    background-color: #131942;
    /* background-color: #282b4e; */
    color: white;
}
.navbar {
    background-color: #282b4e;
    border-radius: 30px;
    padding: 0;
    right: 8rem;
    top: 4rem;
    width: 60%;
    padding-right: 2rem;
    position: absolute;
    z-index: 2;
}

.navbar .rule {
    align-self: center;
    color:rgba(255, 255, 255, 0.55)
}

.navbar .collapse {
    justify-content: end;
}

.banner {
    background-image: url(banner_bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100Vh;
    position: relative;
    z-index: -1;

}

.banner .logo{
    display: inline;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    width: 50px;
}

.banner .banner_text {
    max-width: 40%;
    padding: 1rem;
    position:absolute;
    top: 20vh;
    left: 10vw;
    
}

.banner .optadata_title {
    color: white;
    display: inline;
}

.banner .information {
    color: #d38257;
}

.services {
    padding: 2% 10% 4% 10%;

}

.services .row:nth-child(2){
    text-align: center;
}

.services h3 {
    margin-bottom: 2%;
    font-size: 1.7rem;

}

.services img {
    height: 15rem;
}

.pricing {
    padding: 5% 10% 2% 10%;
    background-color: white;
    z-index: -1;
}

.pricing .card {
    margin: 0 1%;
    z-index: 0;
}

.card li{
    margin: 1rem 0;

}

footer {
    background-color: #131942;
    padding: 5% 10%;
}


.footer a {
    text-decoration: none;
}

.footer h5 {
    font-weight: bold;
}

.footer small{
    color: white;
}

.footer .col {
    display: flex;
    justify-content: center;
    padding-right: auto;
}

